<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edocGorty.dao.EdocMapper">
    <select id="getInfo" resultType="com.edocGorty.pojo.edocentry" parameterType="int">
        select * from edoc_entry
        <where>
            <if test="categoryId != 0">
               and   categoryId=#{categoryId}
            </if>
        </where>
          limit #{from},#{pageSize}
    </select>
<insert id="upload" parameterType="com.edocGorty.pojo.img">
    insert into img(imgPicPath,name,imgs) values(#{imgPicPath},#{name},#{imgs})
</insert>
<delete id="Del" >
    delete from edoc_entry where id=#{id}

</delete>
    <select id="count" resultType="Int">

         select count(*) as count from edoc_entry
        <where>
        <if test="categoryId != 0">
            categoryId=categoryId
        </if>
        </where>
    </select>
    <insert id="insertComment" parameterType="com.edocGorty.pojo.Comment">
        insert into tms_pro (comm_name,comm_price,comm_pl,provider_type,imgPicPath) values (#{comm_name},#{comm_price},#{comm_pl},#{provider_type},#{imgPicPath})
    </insert>
    <select id="getList" resultType="com.edocGorty.pojo.edocentry">
        select * from edoc_entry
    </select>
</mapper>